<!DOCTYPE html>
<html>
  <head>
    <title>Doer</title>
    <%= stylesheet_link_tag :all %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div class="page-content">
      <%= yield %>
    </div>
  </body>
</html>
